**/.idea
*.iml
**/.DS_Store
**/.gradle
**/build
**/out
gradlew.bat
**/*.log
**/.project
**/.classpath
**/.settings
**/bin
metastore_db/
lucene/index/
.gitsecret/keys/random_seed
!*.secret
hbase/target/
algorithm/src/main/java/com/kkd/exercise/algorithm/amazon/second/
